{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container px-4 px-lg-0">

    <!-- Product & Service Row-->
    <div class="row gx-4 gx-lg-5 mt-4">
        <h1 class="fairplay-font text-center mb-4">Product & Service</h1>
        <aside class="row mb-4 m-0">
            <div class="col-12 text-center">
                <p class="text-muted text-center mb-0">
                    {{ combined_items|length }} items on
                </p>
                {% for c in categories %}
                <a class="category-badge text-decoration-none" href="{% url 'combined_items_all' %}/?q={{ c.alt_name}}">
                    <span class="p-2 mx-1 mt-2 badge badge-black rounded border border-muted">{{ c }}
                    </span>
                </a>
                {% endfor %}
            </div>
        </aside>

        <!-- Sorting Element -->
        <aside class="row">
            <div class="col-12 d-flex justify-content-center align-items-center mb-4">
                <div class="sort-select-wrapper">
                    <select id="sort-selector"
                        class="custom-select custom-select-sm rounded border-primary p-2 fs-6 text">
                        <option value="reset">
                            Sort all items by...
                        </option>

                        <option {% if sortkey == 'price' and direction == 'asc' %} selected {% endif %}
                            value="{% url 'sorted' %}_price_asc">
                            Price (low to high)
                        </option>

                        <option {% if sortkey == 'price' and direction == 'desc' %} selected {% endif %}
                            value="{% url 'sorted' %}_price_desc">
                            Price (high to low)
                        </option>

                        <option {% if sortkey == 'likescount' and direction == 'asc' %} selected {% endif %}
                            value="{% url 'sorted' %}_likescount_asc">
                            Rating (low to high)
                        </option>

                        <option {% if sortkey == 'likescount' and direction == 'desc' %} selected {% endif %}
                            value="{% url 'sorted' %}_likescount_desc">
                            Rating (high to low)
                        </option>

                        <option {% if sortkey == 'transactionscount' and direction == 'asc' %} selected {% endif %}
                            value="{% url 'sorted' %}_transactionscount_asc">
                            Purchase (low to high)
                        </option>

                        <option {% if sortkey == 'transactionscount' and direction == 'desc' %} selected {% endif %}
                            value="{% url 'sorted' %}_transactionscount_desc">
                            Purchase (high to low)
                        </option>

                        <option {% if sortkey == 'title' and direction == 'asc' %} selected {% endif %}
                            value="{% url 'sorted' %}_title_asc">
                            Title (A-Z)
                        </option>

                        <option {% if sortkey == 'title' and direction == 'desc' %} selected {% endif %}
                            value="{% url 'sorted' %}_title_desc">
                            Title (Z-A)
                        </option>

                        <option {% if sortkey == 'category' and direction == 'asc' %} selected {% endif %}
                            value="{% url 'sorted' %}_category_asc">
                            Category
                            (A-Z)
                        </option>

                        <option {% if sortkey == 'category' and direction == 'desc' %} selected {% endif %}
                            value="{% url 'sorted' %}_category_desc">
                            Category (Z-A)
                        </option>
                    </select>
                </div>
            </div>
        </aside>

        <!-- Records not found -->
        {% if not combined_items %}
        <p class="text-center">No records found so far </p>
        {% endif %}

        <!-- Records found -->
        {% for item in combined_items %}
        <article class="col-lg-4 col-md-12 mb-5 col-sm-12">
            <div class="card h-100">
                <header>
                    <!-- Card Header -->
                    {% if item.type %}
                    <h2 class="card-header text-center">{{ item.get_type_display}}</h2>
                    {% elif item.instance %}
                    <h2 class="card-header text-center">{{ item.get_instance_display}}</h2>
                    {% endif %}
                </header>

                <!-- Card Thumbnail -->
                {% if item.instance == 0 %}
                <a href="{% url 'single_product' item.slug %}" class="row bg-thumbnail d-block">
                    <div class="col-12 bg-thumbnail-image" style="background-image: url('{{ item.image_url }}')">
                        <div class="d-flex justify-content-between">
                            <span class="thumbnail-tags-left">{{ item.get_instance_display }}</span>
                            <span class="thumbnail-tags-right">{{ item.price }} $</span>
                        </div>
                    </div>
                </a>
                {% else %}

                <a href="{% url 'single_service' item.slug %}" class="row bg-thumbnail d-block">
                    <div class="col-12 bg-thumbnail-image" style="background-image: url('{{ item.image_url }}')">
                        <div class="d-flex justify-content-between">
                            <span class="thumbnail-tags-left">{{ item.get_instance_display }}</span>
                            <span class="thumbnail-tags-right">{{ item.price }} $</span>
                        </div>
                    </div>
                </a>

                {% endif%}

                <!-- Card Body -->
                <section class="card-body pt-1 px-2 pb-1">
                    <div class="row">
                        <div class="col-12 d-inline-block">
                            <div class="p-1">

                                <!-- Title -->
                                <div>
                                    <a class="pb-0 mb-0"
                                        href="{% if item.instance == 0 %}{% url 'single_product' item.slug %}{% else %}{% url 'single_service' item.slug %}{% endif %}">
                                        <h3>{{ item.title }}</h3>
                                    </a>
                                </div>

                                <!-- Author -->
                                <small>by {{ item.author }}</small>

                                <!-- Category -->
                                {% if item.category %}
                                <p class="small mt-1 mb-0">
                                    <a class="text-muted"
                                        href="{% url 'combined_items_all' %}/?q={{item.category.alt_name}}">
                                        <i class="fas fa-tag mr-1"></i> {{ item.category }}
                                    </a>
                                </p>
                                {% endif %}

                                <!-- Code Languages & Services -->
                                <p class="my-0 fs-6">
                                    {% for code in item.code.all %}
                                    <span class="item-tags d-inline-block m-0 mt-2">
                                        {{ code }}
                                    </span>
                                    {% endfor %}
                                </p>

                                <!-- Short Description -->
                                {% if item.instance == 0 %}
                                <p class="my-0 fs-6 text-justify mt-2"> {{ item.excerpt|safe }}...
                                    <a class="read-more" href="{% url 'single_product' item.slug %}">
                                        Read More
                                    </a>
                                </p>

                                {% elif item.instance == 1 %}
                                <p class="my-0 fs-6 text-justify mt-2"> {{ item.excerpt|safe }}...
                                    <a class="read-more" href="{% url 'single_service' item.slug %}">
                                        Read More
                                    </a>
                                </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Likes and Purchases -->
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <span class="likes-tags-left"><i class="fa-regular fa-heart"></i>
                                {{ item.likescount }}</span>
                            <span class="purchases-tags-right"><i class="fa-solid fa-cart-shopping"></i>
                                {% for title, count in order_count.items %}
                                {% if item.title == title %}
                                {{ count }}
                                {% endif %}
                                {% endfor %}
                            </span>
                        </div>
                    </div>
                </div>

                <footer>
                    <!-- Card Footer -->
                    {% if item.instance == 0 %}
                    <a class="card-footer text-center fs-5 btn w-100" href="{% url 'single_product' item.slug %}">
                        BUY NOW
                    </a>
                    {% else %}
                    <a class="card-footer text-center fs-5 btn w-100" href="{% url 'single_service' item.slug %}">
                        HIRE NOW
                    </a>
                    {% endif%}
                </footer>
            </div>
        </article>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock content %}