{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container px-4 px-lg-0">
    <div class="container mt-5">
        <div class="card">
            <div class="row">
                <div class="col card-header">
                    <h3 class="logo-font text-center">Shopping Cart</h3>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                {% if bag_items %}
                <div class="table-responsive rounded">
                    <table class="table table-sm table-borderless mb-0">
                        <thead class="text-black">
                            <tr>
                                <th scope="col">Item Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                                <th scope="col" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in bag_items %}
                            <!-- Item Info -->
                            <tr class="p-3">
                                <td class="py-3 w-25">
                                    <a href="{% url 'single_product' item.product.slug %}">
                                        <img class="img-fluid rounded" src="{{ item.product.image_url }}">
                                    </a>
                                </td>
                                <td class="p-3">
                                    <a href="{% url 'single_product' item.product.slug %}">
                                        <strong>{{ item.product.title }}</strong>
                                    </a>
                                    <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                </td>
                                <!-- Item Price -->
                                <td class="py-3">
                                    <p class="my-0">${{ item.product.price }}</p>
                                </td>
                                <!-- Item Quantity -->
                                <td class="py-3 w-25">
                                    <form action="" class="form update-form" method="POST">
                                        {% csrf_token %}

                                        <!-- Quantity Handler -->
                                        <div class="form-group">
                                            <div class="input-group">
                                                <!-- Decrement -->
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-primary rounded-0"
                                                        data-item_id="{{ item.id }}" id="decrement-qty_{{ item.id }}">
                                                        <span>
                                                            <i class="fas fa-minus"></i>
                                                        </span>
                                                    </button>
                                                </div>

                                                <!-- Inner value -->
                                                <input class="form-control qty_input" type="number" name="quantity"
                                                    value="{{ item.quantity }}" min="1" max="100"
                                                    data-item_id="{{ item.id }}" id="id_qty_{{ item.id }}">

                                                <!-- Increment -->
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-primary rounded-0"
                                                        data-item_id="{{ item.id }}" id="increment-qty_{{ item.id }}">
                                                        <span>
                                                            <i class="fas fa-plus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                <!-- Item Price -->
                                <td class="py-3">
                                    <p class="mx-2">${{ item.product.price }}</p>
                                </td>
                                <!-- Action Field -->
                                <td>
                                    <div class="text-center">
                                        <a class="update-link text-info d-block">Update</a>
                                        <hr>
                                        <a class="remove-item text-danger d-block mt-1"
                                            id="remove_{{ item.item_id }}">Remove</a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            <!-- Item Count -->
                            <tr>
                                <td colspan="5" class="text-center">
                                    <h6>Items: {{ product_count }}</h6>
                                </td>
                            </tr>
                            <!-- Cart Results -->
                            <tr>
                                <td colspan="5" class="text-center">
                                    <h6><strong>Cart Subtotal: ${{ total|floatformat:2 }}</strong></h6>
                                    {% if to_grand_delta > 0 %}
                                    Discount: -${{ discount|floatformat:2}} ({{ normal_discount }}%)
                                    <p class="mb-1 text-danger">
                                        You could get 10% discount by spending just
                                        <strong>${{ to_grand_delta }}</strong> more!
                                    </p>
                                    {% else %}
                                    <h6>Discount: -${{ discount|floatformat:2}} ({{ grand_discount }}%) </h6>
                                    {% endif %}
                                    <h4 class="mt-3"><strong>Grand Total:
                                            ${{ grand_total|floatformat:2 }}</strong>
                                    </h4>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-center p-0">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% else %}
                <p class="m-0 p-3 text-center">Your cart is empty.</p>
                {% endif %}
            </div>
            <!-- Card Footer -->
            {% if bag_items%}
            <a href="" class="card-footer btn btn-primary btn-lg m-0">
                <span class="text-uppercase">Secure Checkout</span>
                <span class="icon">
                    <i class="fas fa-lock"></i>
                </span>
            </a>
            {% endif %}
        </div>
        <div class="text-center">
            <a href="" class="btn btn-outline-black btn-lg mt-2">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
        </div>
    </div>
</div>
{% endblock content %}

{% block postloadjs %}
{{ block.super }}
{% include 'bag/includes/update_quantity.html' %}
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        let form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let url = `/bag/remove/${itemId}`;
        let data = {
            'csrfmiddlewaretoken': csrfToken,
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock postloadjs%}