@font-face {
    font-family: "Roboto";
    src: url('../../font/roboto/Roboto-Regular.ttf');
    font-display: swap;
}

/* General Styling */
a {
    text-decoration: none !important;
}

.card-header {
    border-radius: 0px;
    background-color: #2980B9;
    color: white;
    border-bottom: 1px solid #dadada;
}

.card-header-hover {
    border-radius: 0px;
    background-color: #2980B9;
    color: white;
    border-bottom: 1px solid #dadada;
    transition: 0.3s;
}

.card-header-hover:hover {
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    transition: 0.3s;
}

.card-footer {
    border-radius: 0px;
    background-color: #2980B9;
    color: white;
    transition: 0.3s;
}

.card-footer:hover {
    border-top: 1px solid #dadada;
    transition: 0.3s;
}

.card-margin-footer {
    margin: 10px -16px -16px;
}


.btn-primary-main {
    width: 100%;
}

.alert-plexosoft {
    background-color: #297fb938 !important;
    border: 1px solid #dadada;
}

.bg-white-border {
    background-color: #fff;
    border: 1px solid #dadada;
    color: #333333 !important;
    text-align: center;
    transition: 0.3s;
}

.bg-white-border:hover {
    background-color: #2980B9;
    color: #fff !important;
    transition: 0.3s;
}

/* Google Button Login */
.google-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    border-radius: 5px 5px 0px 0px;
    /* box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25); */
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.google-button:hover {
    border-bottom: 1px solid #dadada;
    background-color: #2980B9;
    color: #fff;
    transition: 0.3s;
}

.google-icon {
    background: url('/static/frontend/assets/btn_google_light_normal_ios.svg') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 42px;
}

.btn-text {
    font-size: 14px;
    font-weight: 500;
}

/* Buttons */

.btn-primary-blue {
    background-color: #2980b9;
    color: #ffffff;
    transition: 0.3s;

}

.btn-primary-blue:hover {
    transition: 0.3s;
    color: #2980b9;
    border: 1px solid #2980b9;
}

.btn-secundary-blue {
    border: 1px solid #2980b9;
    color: #2980b9;
    transition: 0.3s;
}

.btn-secundary-blue:hover {
    background-color: #2980b9;
    color: #fff;
    transition: 0.3s;
}

/* FAQ */

.btn-primary-blue-faq {
    border-radius: 5px 5px 0 0;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dadada;
    text-align: left;
}

.btn-primary-blue-faq:hover {
    background-color: #2980b9;
    color: #ffffff;
}


/* User & Admin Dashboard colors */

/* Footer */
i {
    color: #2980b9;
}

.footer-bg {
    background-color: #0000000d;
}

/* SB-Dashboard Template Override */

.navbar-light {
    background-color: #2980B9 !important;
    color: #ffffff !important;
}

.navbar-brand {
    color: #ffffff !important;
}

.fa-bars {
    color: #ffffff !important;
    transition: 0.3s;
}

.fa-bars:hover {
    color: #dadada !important;
    transition: 0.3s;
}

.fa-user {
    color: #ffffff !important;
    transition: 0.3s;
}

.fa-user:hover {
    color: #dadada !important;
    transition: 0.3s;
}

.dropdown-toggle::after {
    color: #ffffff !important;
    transition: 0.3s;
}

.dropdown-toggle:hover::after {
    color: #dadada !important;
    transition: 0.3s;
}


.nav-link {
    transition: background-color 0.3s, color 0.3s;
}

.sb-nav-link-icon,
.sb-sidenav-collapse-arrow {
    transition: color 0.3s;
}

.nav-link:hover {
    background-color: #297fb938 !important;
    color: #333333 !important;
    transition: 0.3s;
}

.nav-link:hover .sb-nav-link-icon,
.nav-link:hover .sb-sidenav-collapse-arrow {
    color: #333333 !important;
    transition: 0.3s;
}


.sb-sidenav-light .sb-sidenav-footer {
    background-color: #2980b9;
    color: #fff;
}