/* Fonts */
@font-face {
    font-family: "Roboto";
    src: url('../../font/roboto/Roboto-Regular.ttf');
    font-display: swap;
}

/* General Styling */
a {
    text-decoration: none !important;
}

/* Homepage CTA */

.bg-main {
    background-color: #2980B9;
}

/* Cards */
.card-header,
.card-header-hover {
    border-radius: 0px;
    background-color: #2980B9;
    color: #fff;
    border-bottom: 1px solid #dadada;
}

.card-header-hover {
    transition: 0.3s;
}

.card-header-hover:hover {
    border-top: 1px solid #dadada;
    transition: 0.3s;
}

.card-footer {
    border-radius: 0px;
    background-color: #2980B9;
    color: #fff;
    transition: 0.3s;
}

.card-footer:hover {
    border-top: 1px solid #dadada;
    transition: 0.3s;
}

.card-margin-footer {
    margin: 10px -16px -16px;
}

/* Buttons */

.btn-primary {
    width: 100%;
    background-color: #2980B9;
    --bs-btn-bg: #2980B9;
    --bs-btn-border-color: #2980B9;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4f8eb8;
    --bs-btn-hover-border-color: #2980B9;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2980B9;
    --bs-btn-active-border-color: #2980B9;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #2980B9;
    --bs-btn-disabled-border-color: #2980B9;
}

/* .btn-primary:hover {
    background-color: #4f8eb8;
}

.btn-primary:focus {
    background-color: #2980B9;
}

.btn-primary:active {
    background-color: #2980B9;
} */

.alert-plexosoft {
    background-color: #297fb938 !important;
    border: 1px solid #dadada;
}

.bg-white-border {
    background-color: #fff;
    border: 1px solid #dadada;
    color: #333333 !important;
    text-align: center;
    transition: 0.3s;
}

.bg-white-border:hover {
    background-color: #2980B9;
    color: #fff !important;
    transition: 0.3s;
}

.btn-primary-blue,
.btn-secundary-blue {
    transition: 0.3s;
}

.btn-primary-blue {
    background-color: #2980b9;
    color: #ffffff;
}

.btn-primary-blue:hover {
    color: #2980b9;
    border: 1px solid #2980b9;
}

.btn-secundary-blue {
    border: 1px solid #2980b9;
    color: #2980b9;
}

.btn-secundary-blue:hover {
    background-color: #2980b9;
    color: #fff;
}

.btn-text {
    font-size: 14px;
    font-weight: 500;
}

.btn-light-blue {
    background-color: #4f8eb8;
}

.btn-outline-dark {
    color: #fff;
    border-color: #2980B9;
    transition: 0.3s;
}

.btn-outline-dark:hover {
    background-color: #4f8eb8;
    border-color: #4f8eb8;
    color: #fff;
}

.btn:first-child:active {
    background-color: #4f8eb8;
    border-color: #fff;
    transition: 0.3s;
}

/* Google Button Login */
.google-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    border-radius: 5px 5px 0px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    transition: 0.3s;
}

.google-button:hover {
    border-bottom: 1px solid #dadada;
    background-color: #2980B9;
    color: #fff;
}

.google-icon {
    background: url('/static/frontend/assets/btn_google_light_normal_ios.svg') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 42px;
}

/* FAQ */
.btn-primary-blue-faq {
    border-radius: 5px 5px 0 0;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dadada;
    text-align: left;
}

.btn-primary-blue-faq:hover {
    background-color: #2980b9;
    color: #ffffff;
}

/* User & Admin Dashboard Colors */
i {
    color: #2980b9;
}

.footer-bg {
    background-color: #2980b9;
}

.navbar-light {
    background-color: #2980B9 !important;
    color: #ffffff !important;
}

.navbar-brand,
.fa-bars,
.fa-user,
.dropdown-toggle::after {
    color: #ffffff !important;
    transition: 0.3s;
}

.fa-bars:hover,
.fa-user:hover,
.dropdown-toggle:hover::after {
    color: #dadada !important;
}

/* Navbar Links */
.search-pointer {
    cursor: pointer;
    line-height: 2.5;
}

.navbar-toggler {
    background-color: #fff;
    border-color: #4f8eb8;
    color: white;
}

.nav-link:focus {
    color: #fff;
}

.nav-link {
    transition: background-color 0.3s, color 0.3s;
    color: #ffffff;
}

.nav-link:hover,
.nav-link:hover .sb-nav-link-icon,
.nav-link:hover .sb-sidenav-collapse-arrow {
    color: #fff !important;
    border-color: #fff;
    transition: 0.3s;
}

.nav-link:hover {
    background-color: #297fb938 !important;
}

.sb-nav-link-icon,
.sb-sidenav-collapse-arrow {
    transition: color 0.3s;
}

.sb-sidenav-light .sb-sidenav-footer {
    background-color: #2980b9;
    color: #fff;
}