{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container px-4 px-lg-0">

    <!-- PRODUCT Row-->
    <div class="row gx-4 gx-lg-5 mt-4">
        <p class="h1 fairplay-font text-center">Product</p>

        <div class="row mb-4 m-0">
            <div class="col text-center">
                {% for c in categories %}
                <a class="category-badge text-decoration-none" href="{% url 'combined_items_all' %}/?q={{ c.alt_name}}">
                    <span class="p-2 mx-1 mt-2 badge badge-black rounded border border-muted">{{ c }}
                    </span>
                </a>
                {% endfor %}
            </div>
        </div>

        <!-- Records not found -->
        {% if not product_all %}
        <p class="text-center">No records found so far </p>
        {% endif %}

        <!-- Records found -->
        {% for product in product_all %}
        <div class="col-lg-4 col-md-12 mb-5 col-sm-12">
            <div class="card h-100">
                <!-- Card Header -->
                {% if product.type %}
                <div class="card-header text-center h4">{{ product.get_type_display}}</div>
                {% elif product.instance %}
                <div class="card-header text-center h4">{{ product.get_instance_display}}</div>
                {% endif %}

                <!-- Card Thumbnail -->
                <a href="{% url 'single_product' product.slug %}" class="row bg-thumbnail d-block">
                    <div class="col-12 bg-thumbnail-image" style="background-image: url('{{ product.image_url }}')">
                        <div class="d-flex justify-content-between">
                            <span class="thumbnail-tags-left">{{ product.get_instance_display }}</span>
                            <span class="thumbnail-tags-right">{{ product.price }} $</span>
                        </div>
                    </div>
                </a>
                
                <!-- Card Body -->
                <div class="card-body pt-1 px-2 pb-1">
                    <div class="row">
                        <div class="col-12 d-inline-block">
                            <div class="p-1">
                                <div>
                                    <a href="{% url 'single_product' product.slug %}"
                                        class="h5 pb-0 mb-0">{{ product.title }}
                                    </a>
                                </div>
                                <small>by {{ product.author }}</small>
                                {% if product.category %}
                                <p class="small mt-1 mb-0">
                                    <a class="text-muted"
                                        href="{% url 'combined_items_all' %}/?q={{product.category.alt_name}}">
                                        <i class="fas fa-tag mr-1"></i> {{ product.category }}
                                    </a>
                                </p>
                                {% endif %}
                                <p class="my-0 fs-6">
                                    {% for codes in product.code.all %}
                                    <span class="item-tags d-inline-block m-0 mt-2">
                                        {{ codes }}
                                    </span>
                                    {% endfor %}
                                </p>
                                <p class="my-0 fs-6 text-justify mt-2 lh-sm"> {{ product.excerpt|safe }}...
                                    <a class="read-more" href="">
                                        Read More
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Likes and Purchases -->
                <div class="row mb-1">
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <span class="likes-tags-left"><i class="fa-regular fa-heart"></i>
                                {{ product.get_likes_count }}</span>
                            <span class="purchases-tags-right"><i class="fa-solid fa-cart-shopping"></i>
                                {{ product.get_transactions_count }} </span>
                        </div>
                    </div>
                </div>
                <!-- Card Footer -->
                <a class="card-footer text-center fs-5 btn" href="{% url 'single_product' product.slug %}">BUY NOW</a>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock content %}