{% extends "base.html" %}
{% load static %}
{% block title %}- All Services{% endblock %}
{% block content %}
<div class="container px-4 px-lg-0">

    <!-- Service Row-->
    <div id="item-container" class="row gx-4 gx-lg-5 mt-4">
        <h1 class="fairplay-font text-center mb-4">Service</h1>

        <aside class="row mb-4 m-0">
            <div class="col text-center">
                <p class="text-muted text-center mb-0">
                    {{ service_all|length }} items on
                </p>
                {% for c in categories %}
                <a class="category-badge text-decoration-none" href="{% url 'combined_items_all' %}/?q={{ c.alt_name}}">
                    <span class="p-2 mx-1 mt-2 badge badge-black rounded border border-muted">{{ c }}
                    </span>
                </a>
                {% endfor %}
            </div>
        </aside>

        <!-- Sorting Element -->
        <aside class="row m-0">
            <div class="col-12 d-flex justify-content-center align-items-center mb-4">
                <div class="sort-select-wrapper">
                    <select id="sort-selector-items"
                        class="custom-select custom-select-sm rounded border-primary p-2 fs-6 text">
                        <option value="reset">
                            Sort items on page by...
                        </option>

                        <option value="price_asc">
                            Price (low to high)
                        </option>

                        <option value="price_desc">
                            Price (high to low)
                        </option>

                        <option value="likes_asc">
                            Rating (low to high)
                        </option>

                        <option value="likes_desc">
                            Rating (high to low)
                        </option>

                        <option value="transactions_asc">
                            Purchase (low to high)
                        </option>

                        <option value="transactions_desc">
                            Purchase (high to low)
                        </option>

                        <option value="title_asc">
                            Title (A-Z)
                        </option>

                        <option value="title_desc">
                            Title (Z-A)
                        </option>

                        <option value="category_desc">
                            Category
                            (A-Z)
                        </option>

                        <option value="category_asc">
                            Category (Z-A)
                        </option>
                    </select>
                </div>
            </div>
        </aside>

        <!-- Records not found -->
        {% if not service_all %}
        <p class="text-center">No records found so far </p>
        {% endif %}

        <!-- Records found -->
        {% for service in service_all %}
        <article class="col-lg-4 col-md-12 mb-5 col-sm-12 item">
            <div class="card h-100">
                <header>
                    <!-- Card Header -->
                    {% if service.type %}
                    <h2 class="card-header text-center">{{ service.get_type_display}}</h2>
                    {% elif service.instance %}
                    <h2 class="card-header text-center">{{ service.get_instance_display}}</h2>
                    {% endif %}
                </header>

                <!-- Card Thumbnail -->
                <a href="{% url 'single_service' service.slug %}" class="row bg-thumbnail d-block">
                    <div class="col-12 bg-thumbnail-image" style="background-image: url('{{ service.image_url }}')">
                        <div class="d-flex justify-content-between">
                            <span class="thumbnail-tags-left">{{ service.get_instance_display }}</span>
                            <span class="thumbnail-tags-right price">{{ service.price }} $</span>
                        </div>
                    </div>
                </a>

                <!-- Card Body -->
                <section class="card-body pt-1 px-2 pb-1">
                    <div class="row">
                        <div class="col-12 d-inline-block">
                            <div class="p-1">

                                <!-- Title -->
                                <div>
                                    <a href="{% url 'single_service' service.slug %}" class="title h5 pb-0 mb-0">
                                        <h3>{{ service.title }}</h3>
                                    </a>
                                </div>

                                <!-- Author -->
                                <small>by {{ service.author }}</small>

                                <!-- Category -->
                                {% if service.category %}
                                <p class="small mt-1 mb-0">
                                    <a class="text-muted"
                                        href="{% url 'combined_items_all' %}/?q={{service.category.alt_name}}">
                                        <i class="fas fa-tag mr-1"></i>
                                        <span class="category">
                                            {{ service.category }}
                                        </span>
                                    </a>
                                </p>
                                {% endif %}

                                <!-- Code Languages & Services -->
                                <p class="my-0 fs-6">
                                    {% for codes in service.code.all %}
                                    <span class="item-tags d-inline-block m-0 mt-2">
                                        {{ codes }}
                                    </span>
                                    {% endfor %}
                                </p>

                                <!-- Short Description -->
                                <p class="my-0 fs-6 text-justify mt-2"> {{ service.excerpt|safe }}...
                                    <a class="read-more" href="{% url 'single_service' service.slug %}">
                                        Read More
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Likes and Purchases -->
                <div class="row mb-1">
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <span class="likes-tags-left"><i class="fa-regular fa-heart"></i>
                                <span class="likes">
                                    {{ service.likescount }}
                                </span>
                            </span>
                            <span class="purchases-tags-right"><i class="fa-solid fa-cart-shopping"></i>
                                <span class="transactions">
                                    {% for title, count in order_count.items %}
                                    {% if service.title == title %}
                                    {{ count }}
                                    {% endif %}
                                    {% endfor %}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <footer>
                    <!-- Card Footer -->
                    <a class="card-footer text-center fs-5 btn" href="{% url 'single_service' service.slug %}">BUY
                        NOW</a>
                </footer>
            </div>
        </article>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock content %}