{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container px-4 px-lg-0">

    <!-- Service Row-->
    <div class="row gx-4 gx-lg-5 mt-5 justify-content-center">

        <!-- Records not found -->
        {% if not service %}
        <p class="text-center">No records found so far </p>
        {% endif %}

        <!-- Records found -->
        <div class="col-lg-8 col-md-12 mb-5 col-sm-12">
            <div class="card h-100">
                <!-- Card Header -->
                {% if service.type %}
                <div class="card-header text-center h4">{{ service.get_type_display}}</div>
                {% else %}
                <div class="card-header text-center h4">UNKNOWN</div>
                {% endif %}
                <!-- Card Thumbnail -->
                <div class="row bg-thumbnail">
                    <div class="col-12 bg-thumbnail-image" style="background-image: url('{{ service.image_url }}')">
                        <div class="d-flex justify-content-between">
                            <span class="thumbnail-tags-left">{{ service.category }}</span>
                            <span class="thumbnail-tags-right">{{ service.price }} $</span>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="d-flex justify-content-between">
                    <a class="single-item-button w-100 text-center" href="{{ service.docs }}" rel="noopener noreferrer"
                        target="_blank">
                        Docs
                    </a>
                    <a class="single-item-button w-100 text-center" href="{{ service.support }}"
                        rel="noopener noreferrer" target="_blank">
                        Support
                    </a>
                    <a class="single-item-button-right w-100 text-center" href="{{ service.preview }}"
                        rel="noopener noreferrer" target="_blank">
                        Live Preview
                    </a>
                </div>
                <div class="card-body pt-2 px-2 pb-1">
                    <div class="row">
                        <div class="col-12 d-inline-block">
                            <div class="px-1 pb-1 pt-0">
                                <p class="h5 pb-0 mb-0">{{ service.title }}</p>
                                <small>by {{ service.author }}</small>
                                <p class="my-0 fs-6">
                                    {% for codes in service.code.all %}
                                    <span class="item-tags d-inline-block m-0 mt-2">
                                        {{ codes }}
                                    </span>
                                    {% endfor %}
                                </p>
                                <p class="my-0 fs-6 text-justify mx-3 my-3 lh-sm">
                                    {{ service.description|safe }}
                                </p>
                                <p class="my-0 fs-6">
                                    {% for services in service.service.all %}
                                    <span class="item-tags d-inline-block m-0 mt-2">
                                        {{ services }}
                                    </span>
                                    {% endfor %}
                                </p>
                                <p class="my-0 fs-6 text-justify mx-3 my-3 lh-sm">
                                    Note: here it goes
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Likes and Purchases -->
                <div class="row mb-1">
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <span class="likes-tags-left"><i class="fa-regular fa-heart"></i>
                                {{ service.get_likes_count }}</span>
                            <span class="purchases-tags-right"><i class="fa-solid fa-cart-shopping"></i>
                                {{ service.get_transactions_count }} </span>
                        </div>
                    </div>
                </div>
                <!-- Card Footer -->
                <a class="card-footer text-center fs-5 btn" href="">HIRE NOW</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}