{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container px-4 px-lg-0">

    <!-- PRODUCT Row-->
    <div class="row gx-4 gx-lg-5 mt-5 justify-content-center">

        <!-- Records not found -->
        {% if not product %}
        <p class="text-center">No records found so far </p>
        {% endif %}

        <!-- Records found -->
        <article class="col-lg-8 col-md-12 mb-5 col-sm-12">
            <form action="{% url 'add_to_cart_product' product.id %}" method="POST">
                {% csrf_token %}
                <div class="card h-100">
                    <header>
                        <!-- Card Header -->
                        {% if product.type %}
                        <h1 class="card-header text-center">{{ product.get_type_display}}</h1>
                        {% elif product.instance %}
                        <h1 class="card-header text-center">{{ product.get_instance_display}}</h1>
                        {% endif %}
                    </header>

                    <!-- Card Thumbnail -->
                    <a href="{% url 'single_product' product.slug %}" class="row bg-thumbnail d-block">
                        <div class="col-12 bg-thumbnail-image" style="background-image: url('{{ product.image_url }}')">
                            <div class="d-flex justify-content-between">
                                <span class="thumbnail-tags-left">{{ product.get_instance_display }}</span>
                                <span class="thumbnail-tags-right">{{ product.price }} $</span>
                            </div>
                        </div>
                    </a>

                    <!-- Card Body -->
                    <aside class="d-flex justify-content-between">
                        <a class="single-item-button w-100 text-center" href="{{ product.docs }}"
                            rel="noopener noreferrer" target="_blank">
                            Docs
                        </a>
                        <a class="single-item-button w-100 text-center" href="{{ product.support }}"
                            rel="noopener noreferrer" target="_blank">
                            Support
                        </a>
                        <a class="single-item-button-right w-100 text-center" href="{{ product.preview }}"
                            rel="noopener noreferrer" target="_blank">
                            Live Preview
                        </a>
                    </aside>

                    <section class="card-body pt-2 px-2 pb-1">
                        <div class="row">
                            <div class="col-12 d-inline-block">
                                <div class="px-1 pb-1 pt-0">

                                    <!-- Title -->
                                    <div>
                                        <a href="{% url 'single_product' product.slug %}" class="h5 pb-0 mb-0">
                                            <h2>{{ product.title }}</h2>
                                        </a>
                                    </div>

                                    <!-- Author -->
                                    <small>by {{ product.author }}</small>

                                    <!-- Category -->
                                    {% if product.category %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted"
                                            href="{% url 'combined_items_all' %}/?q={{product.category.alt_name}}">
                                            <i class="fas fa-tag mr-1"></i> {{ product.category }}
                                        </a>
                                    </p>
                                    {% endif %}

                                    <!-- Code Languages  -->
                                    <p class="my-0 fs-6">
                                        {% for codes in product.code.all %}
                                        <span class="item-tags d-inline-block m-0 mt-2">
                                            {{ codes }}
                                        </span>
                                        {% endfor %}
                                    </p>

                                    <!-- Description -->
                                    <p class="my-0 fs-6 text-justify mx-3 my-3 lh-sm">
                                        {{ product.description|safe }}
                                    </p>

                                    <!-- Services Provided -->
                                    <p class="my-0 fs-6">
                                        {% for services in product.service.all %}
                                        <span class="item-tags d-inline-block m-0 mt-2">
                                            {{ services }}
                                        </span>
                                        {% endfor %}
                                    </p>

                                    <!-- Extra Note -->
                                    <p class="my-0 fs-6 text-justify mx-3 my-3 lh-sm">
                                        Note: here it goes
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- Likes and Purchases -->
                    <div class="row mb-1">
                        <div class="col-12">
                            <div class="d-flex justify-content-between">
                                {% if user.is_authenticated and has_purchased %}
                                {% if has_liked %}
                                <button type="button" id="like-button" name="like-button" value="{{ product.slug }}"
                                    class="likes-tags-left border-0">
                                    <i class="fa-solid fa-heart text-danger"></i>
                                    {{ product.likescount }}
                                </button>
                                {% else %}
                                <button type="button" id="like-button" name="like-button" value="{{ product.slug }}"
                                    class="likes-tags-left border-0">
                                    <i class="fa-regular fa-heart"></i>
                                    {{ product.likescount }}
                                </button>
                                {% endif %}
                                <span class="purchases-tags-right"><i class="fa-solid fa-cart-shopping"></i>
                                    {{ order_count }} </span>
                                {% else %}
                                <span class="likes-tags-left"><i class="fa-regular fa-heart"></i>
                                    {{ product.likescount }}</span>
                                <span class="purchases-tags-right"><i class="fa-solid fa-cart-shopping"></i>
                                    {{ order_count }} </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <footer>
                        <!-- Card Footer -->
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        {% if product.status == 2 %}
                        <div class="card-footer text-center fs-5 btn w-100">
                            <input class="add-to-cart" type="submit" value="1" name="quantity">
                            Add to Cart
                        </div>
                        {% elif product.status == 1 %}
                        <button class="card-footer text-center fs-5 btn w-100">SUSPENDED PRODUCT</button>
                        {% elif product.status == 0 %}
                        <button class="card-footer text-center fs-5 btn w-100">DRAFT PRODUCT</button>
                        {% endif %}
                    </footer>
                </div>
            </form>
        </article>
    </div>
</div>

<!-- Newsletter -->
<!-- Our own with Mailchimp functionalities -->
<aside class="d-flex justify-content-center">
    <div class="row">
        <div class="col-12">
            <h2 class="text-uppercase mb-4 text-center">
                Newsletter
            </h2>
            <section class="mb-4">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="content">

                            <!-- Mailchimp Form -->
                            <form
                                action="https://plexo.us21.list-manage.com/subscribe/post?u=891c26c27174245a675267b31&amp;id=6f2966c92b&amp;f_id=004de0e6f0"
                                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                class="validate" target="_blank">
                                <div class="input-group">

                                    <!-- Email Input -->
                                    <input type="email" name="EMAIL"
                                        class="form-control required email newsletter-email-input" id="mce-EMAIL"
                                        placeholder="Enter your email *" value="{{ request.user.email }}" required>

                                    <!-- Send Button -->
                                    <span class="input-group-btn">
                                        <button type="submit" name="subscribe" id="mc-embedded-subscribe"
                                            class="newsletter-btn px-3 mb-0"><i
                                                class="fa-regular fa-paper-plane"></i></button>
                                    </span>

                                </div>
                                <!-- Third Party Acknowledgment -->
                                <p class="m-2 text-center">
                                    <small>(We use <a rel="noopener noreferrer"
                                            href="https://mailchimp.com/legal/terms/">Mailchimp</a> as service
                                        provider)</small>
                                </p>

                                <!-- Hidden fields and response divs -->
                                <div id="mce-responses" class="clear foot">
                                    <!-- Errors -->
                                    <div class="response text-center text-danger" id="mce-error-response"></div>
                                    <!-- Success -->
                                    <div class="response text-center text-info" id="mce-success-response"></div>
                                </div>
                                <div aria-hidden="true" class="newsletter-hidden-input">
                                    <input type="text" name="b_891c26c27174245a675267b31_6f2966c92b" tabindex="-1"
                                        value="">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</aside>


<!-- Comments -->
<aside class="container mt-3 px-4 px-lg-0">
    <div class="row align-items-center justify-content-center">

        <!-- Comment Display -->
        <div class="col-sm-12 col-md-6 m-3">
            <div class="content">
                <div class="card">
                    <div class="card-header">
                        <h3 class="m-0 text-center">
                            Comments <i class="fa-solid fa-comment"></i> {{ comment_count }}
                        </h3>
                    </div>
                    <div class="card-body">
                        {% for comment in comments_list %}
                        <div class="row mt-3">

                            <!-- Comments -->
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <strong>
                                                {{ comment.writer }} <i class="fa-brands fa-connectdevelop"
                                                    title="{{ comment.writer }} has purchased this product"></i>
                                            </strong>
                                            <span class="text-muted">{{ comment.created_on }}</span>
                                        </div>
                                        <p class="mt-2 mb-0">
                                            {{ comment.comment }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <!-- Comments' Pagination -->
                        {% if is_paginated %}
                        <nav aria-label="Page navigation" class="mt-3">
                            <ul class="pagination justify-content-center mb-1">
                                {% if page_obj.has_previous %}
                                <li class="mx-1"><a href="?page={{ page_obj.previous_page_number }}"
                                        class="btn btn-primary">&laquo;
                                        PREV </a></li>
                                {% endif %}
                                {% if page_obj.has_next %}
                                <li class="mx-1"><a href="?page={{ page_obj.next_page_number }}"
                                        class="btn btn-primary"> NEXT
                                        &raquo;</a></li>
                                {% endif %}
                            </ul>
                            <p class="m-0 p-0 text-center">
                                <small>
                                    {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                                </small>
                            </p>
                        </nav>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Comment Form -->
        <div class="col-sm-12 col-md-6 m-3">
            <div class="content">
                {% if commented %}
                <div class="alert alert-info text-center" role="alert">
                    You already commented this product
                </div>
                {% elif not has_purchased %}
                <div class="alert alert-info text-center" role="alert">
                    You can comment & like this product after a successful purchase
                </div>
                {% else %}
                {% if user_authenticated and has_purchased and not commented %}
                <form method="post" class="card">
                    <div class="card-header">
                        <h5 class="m-0 text-center">Comment</h5>
                    </div>
                    <div class="card-body">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                    </div>
                    <button type="submit" name="comment_submit" class="card-footer border-0">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</aside>

<!-- Like & Newsletter Functionality -->
<script type="text/javascript">
    $(document).ready(function () {
        // Like Functionality
        $("#like-button").click(function (event) {
            event.stopPropagation()
            event.preventDefault()

            const productSlug = $(this).val();

            $.ajax({
                url: `/product/like/${productSlug}`,
                method: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (json) {
                    if (json.status === 'success') {
                        location.reload();
                    }
                },
                error: function (xhr, errmsg, err) {
                    console.log("Could not update the like!");
                }
            });
        });

        // Newsletter functionality

        $("#mc-embedded-subscribe").click(function (event) {

            const email = $(".newsletter-email-input").val();

            $.ajax({
                url: `/newsletter/add/`,
                method: 'POST',
                data: {
                    email: email,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (json) {
                    if (json.status === 'success') {
                        alert(json.message);
                    } else {
                        alert(json.message);
                    }
                },
                error: function (xhr, errmsg, err) {
                    alert("Could not add to our internal newsletter database!");
                }
            });
        });
    });
</script>

<!-- Mailchimp JS -->
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">
    (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
        fnames[3] = 'ADDRESS';
        ftypes[3] = 'address';
        fnames[4] = 'PHONE';
        ftypes[4] = 'phone';
        fnames[5] = 'BIRTHDAY';
        ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>
{% endblock content %}