{% extends "base.html" %}
{% load static %}
{% load bag_tools %}
{% block extra_corecss %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}
{% block title %}- Checkout{% endblock %}
{% block content %}
<div class="container px-4 px-lg-0">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="row">
                        <div class="col card-header">
                            <h3 class="logo-font text-center m-0">Checkout</h3>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <!-- Order Summary -->
                    <div class="card-body p-0">
                        <div class="row d-flex justify-content-center align-items-center p-3">
                            <div class="col-12">
                                <div class="col-12 col-lg-12 mb-3">
                                    <h5 class="text-center">Order Summary ({{ item_count }})</h5>
                                    <div class="text-center">
                                        {% if to_grand_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get 10% discount by spending just
                                            <strong>${{ to_grand_delta }}</strong> more!
                                        </p>
                                        {% endif %}
                                    </div>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Item</th>
                                                <th scope="col" class="text-right">Subtotal</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in bag_items %}
                                            <tr>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-2 w-25">
                                                            {% if item.product.instance == 0 %}
                                                            <a href="{% url 'single_product' item.product.slug %}">
                                                                {% if item.product.image_url %}
                                                                <a href="{% url 'single_product' item.product.slug %}">
                                                                    <img class="img-fluid rounded"
                                                                        src="{{ item.product.image_url }}">
                                                                </a>
                                                                {% else %}
                                                                <img class="w-100" src="{{ MEDIA_URL }}noimage.png"
                                                                    alt="{{ product.title }}">
                                                                {% endif %}
                                                            </a>
                                                            {% elif item.service.instance == 1 %}
                                                            <a href="{% url 'single_service' item.service.slug %}">
                                                                {% if item.service.image_url %}
                                                                <a href="{% url 'single_service' item.service.slug %}">
                                                                    <img class="img-fluid rounded"
                                                                        src="{{ item.service.image_url }}">
                                                                </a>
                                                                {% else %}
                                                                <img class="w-100" src="{{ MEDIA_URL }}noimage.png"
                                                                    alt="{{ service.title }}">
                                                                {% endif %}
                                                            </a>
                                                            {% endif %}
                                                        </div>
                                                        {% if item.product.instance == 0 %}
                                                        <div class="col-8">
                                                            <a href="{% url 'single_product' item.product.slug %}">
                                                                <strong>{{ item.product.title }}</strong>
                                                            </a>
                                                            <p class="my-0 small text-muted">SKU:
                                                                {{ item.product.sku|upper }}</p>
                                                            <p class="my-0 small text-muted">Qty: {{ item.quantity }}
                                                            </p>
                                                        </div>
                                                        {% elif item.service.instance == 1 %}
                                                        <div class="col-8">
                                                            <a href="{% url 'single_service' item.service.slug %}">
                                                                <strong>{{ item.service.title }}</strong>
                                                            </a>
                                                            <p class="my-0 small text-muted">SKU:
                                                                {{ item.service.sku|upper }}</p>
                                                            <p class="my-0 small text-muted">Qty: {{ item.quantity }}
                                                            </p>
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                </td>
                                                <td class="text-right">
                                                    {% if item.product.instance == 0 %}
                                                    <p class="my-0 small text-muted">
                                                        ${{ item.product.price | calc_subtotal:item.quantity }}
                                                    </p>
                                                    {% elif item.service.instance == 1 %}
                                                    <p class="my-0 small text-muted">
                                                        ${{ item.service.price | calc_subtotal:item.quantity }}
                                                    </p>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="row text-black text-right">
                                        <div class="col-7 offset-1">
                                            <p class="my-0">Order Subtotal:</p>
                                            <p class="my-0">Discount:</p>
                                            <p class="my-0">Grand total:</p>
                                        </div>
                                        <div class="col-4">
                                            <p class="my-0">${{ total|floatformat:2 }}</p>
                                            {% if to_grand_delta > 0 %}
                                            <p class="my-0">-${{ discount|floatformat:2}} ({{ normal_discount }}%)</p>
                                            {% else %}
                                            <p class="my-0">-${{ discount|floatformat:2}} ({{ grand_discount }}%)</p>
                                            {% endif %}
                                            <p class="my-0">${{ grand_total|floatformat:2 }}</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Checkout form -->
                        <div class="row">
                            <div class="col-12 col-lg-12">
                                <form class="" action="{% url 'checkout_stripe_form' %}" method="POST"
                                    id="payment-form">
                                    {% csrf_token %}
                                    <div class="">
                                        <fieldset class="rounded px-3 mb-3">
                                            <legend class="fieldset-label text-black px-2 text-center">Order Details
                                            </legend>
                                            <p class="text-center">Please fill out the form below to complete your order
                                            </p>
                                            <div>
                                                {{ order_form.full_name | as_crispy_field }}
                                                {{ order_form.email | as_crispy_field }}
                                                {{ order_form.phone_number | as_crispy_field }}
                                                {{ order_form.country | as_crispy_field }}
                                            </div>
                                        </fieldset>
                                        <fieldset class="rounded px-3 mb-3 text-center">
                                            <div class="form-check form-check-inline float-center mr-0">
                                                {% if user.is_authenticated %}
                                                <label class="form-check-label" for="id-save-info">Save this delivery
                                                    information to
                                                    my profile</label>
                                                <input class="form-check-input ml-2 mr-0" type="checkbox"
                                                    id="id-save-info" name="save-info" checked>
                                                {% else %}
                                                <label class="form-check-label" for="id-save-info">
                                                    <a class="text-info" href="{% url 'account_signup' %}">Create an
                                                        account</a> or
                                                    <a class="text-info" href="{% url 'account_login' %}">login</a> to
                                                    save
                                                    this
                                                    information
                                                </label>
                                                {% endif %}
                                            </div>
                                        </fieldset>
                                        <!-- Payment Methods -->
                                        <fieldset class="px-3 text-center">
                                            <legend class="fieldset-label text-black px-2 text-center">Payment Gateway
                                            </legend>

                                            <p class="d-inline-flex gap-1">
                                                <!-- Next iteration/release -->
                                                {% if manual_checkout %}
                                                <button id="toggleFirst" class="btn btn-primary" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#multiCollapseExample1"
                                                    aria-expanded="false" aria-controls="multiCollapseExample1">Manual
                                                    Payment</button>
                                                {% endif %}

                                                <!-- CURRENT iteration/release -->
                                                <button id="toggleSecond" class="btn btn-primary" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2"
                                                    aria-expanded="false" aria-controls="multiCollapseExample2">Stripe
                                                    Payment</button>

                                                <!-- Next iteration/release -->
                                                {% if crypto_checkout %}
                                                <button id="toggleThird" class="btn btn-primary" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3"
                                                    aria-expanded="false" aria-controls="multiCollapseExample3">Crypto
                                                    Payment</button>
                                                {% endif %}
                                            </p>
                                        </fieldset>
                                    </div>
                                    <p class="small text-danger mb-3 text-center">
                                        <span class="icon">
                                            <i class="fas fa-exclamation-circle"></i>
                                        </span>
                                        <span>Your card will be charged
                                            <strong>${{ grand_total|floatformat:2 }}</strong></span>
                                    </p>
                                    <!-- Card Footer -->

                                    <!-- CRYPTO Checkout -->
                                    <div class="collapse multi-collaps" id="multiCollapseExample3">
                                        <button id="submit-button-3" class="card-footer btn btn-primary btn-lg m-0">
                                            <span class="font-weight-bold">Crypto Checkout</span>
                                            <span class="icon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <!-- STRIPE Checkout -->

                                    <div class="collapse multi-collaps" id="multiCollapseExample2">
                                        <button id="submit-button-2" class="card-footer btn btn-primary btn-lg m-0">
                                            <span class="font-weight-bold">Stripe Checkout</span>
                                            <span class="icon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                        </button>
                                    </div>

                                    <!-- MANUAL Checkout -->

                                    <div class="collapse multi-collaps" id="multiCollapseExample1">
                                        <button id="submit-button-1" class="card-footer btn btn-primary btn-lg m-0">
                                            <span class="font-weight-bold">Manual Checkout</span>
                                            <span class="icon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- USEFUL LINKS -->
        <div class="text-center">
            <div>
                <a href="{% url 'bag_page' %}" class="btn btn-primary w-auto btn-lg mt-3">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Adjust Bag</span>
                </a>
            </div>
            <div>
                <a href="{% url 'combined_items_all' %}" class="btn btn-primary w-auto btn-lg mt-2">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            </div>
        </div>

    </div>
</div>
{% block postloadjs %}
{{ block.super }}
<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe('{{ stripe_public_key }}');

    $(document).ready(function () {
        $('#submit-button-2').on('click', function (event) {
            event.preventDefault();

            var sessionId = '{{ session_id }}';

            stripe.redirectToCheckout({
                sessionId: sessionId
            }).then(function (result) {
                if (result.error) {
                    console.error(result.error.message);
                }
            });
        });
    });
</script>
<script src="{% static 'checkout/js/script.js' %}"></script>
{% endblock %}
{% endblock content %}