{% extends "base.html" %}
{% load static %}
{% block extra_corecss %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}
{% block content %}
<div class="container px-4 px-lg-0">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="row">
                        <div class="col card-header">
                            <h3 class="logo-font text-center m-0">Redirect</h3>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <!-- Order Summary -->
                    <div class="card-body p-0">
                        <div class="row d-flex justify-content-center align-items-center p-3">

                            <p class="text-center">You will be redirected to <strong>Stripe</strong> now!</p>
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <p class="text-center m-0 mt-3">Click the button below if the redirection didn't occur.</p>
                            <p class="text-center m-0 mt-3">Your order number is<br><strong>{{order}}</strong></p>
                        </div>
                    </div>

                    <!-- Backup Checkout Button -->
                    <div class="row">
                        <div class="col-12 col-lg-12">

                            <button id="submit-button-stripe" class="card-footer btn btn-primary btn-lg m-0">
                                <span class="font-weight-bold">Stripe Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
{% block postloadjs %}
{{ block.super }}
<script src="https://js.stripe.com/v3/"></script>
<script>
    window.onload = function () {
        let stripe = Stripe('{{ stripe_public_key }}');
        let sessionId = '{{ session_id }}';

        // Automatic redirection
        stripe.redirectToCheckout({
            sessionId: sessionId
        }).then(function (result) {
            if (result.error) {
                console.error(result.error.message);
            }
        });

        // Backup button for redirection
        $('#submit-button-stripe').click(function () {
            stripe.redirectToCheckout({
                sessionId: sessionId
            }).then(function (result) {
                if (result.error) {
                    console.error(result.error.message);
                }
            });
        });

    // Decode the URL-encoded password parameter
    var encodedPassword = "{{ password }}";
    var password = decodeURIComponent(encodedPassword);
    if (password) {
        // Create a hidden link element and trigger the download
        var downloadLink = document.createElement('a');
        downloadLink.href = 'data:text/plain;charset=utf-8,' + encodeURIComponent(password);
        downloadLink.download = 'password.txt';
        downloadLink.style.display = 'none';
        document.body.appendChild(downloadLink);
        downloadLink.click();
        document.body.removeChild(downloadLink);
    }
    };
</script>

{% endblock %}
{% endblock content %}