{% extends "base.html" %}
{% load static %}
{% block extra_corecss %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}
{% block title %}- Order Success{% endblock %}
{% block content %}
<div class="container px-4 px-lg-0">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="row">
                        <div class="col card-header">
                            <h3 class="logo-font text-center m-0">Congratulations!</h3>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <!-- Order Summary -->
                    <div class="card-body p-0">
                        <div class="row d-flex justify-content-center align-items-center p-3">

                            <p class="text-center">Payment completed!</p>
                            <i class="fa-regular fa-circle-check fs-1 text text-success"></i>
                            <p class="text-center m-0 mt-3">{{ username }}<br>You can find the details of your order in
                                your existing
                                account<br><strong>OR</strong><br>in the account we've recently created for you.</p>
                            <p class="text-center m-0 mt-3">Your order number is<br><strong>{{ order_number }}</strong>
                            </p>
                        </div>
                    </div>

                    <!-- Backup Checkout Button -->
                    <div class="row">
                        <div class="col-12 col-lg-12">
                            {% if user.is_authenticated %}
                            <a href="{% if request.user.role == 1 %} {% url 'all_orders_admin' %} {% else %}{% url 'all_orders_user' %}{% endif %}"
                                id="submit-button-stripe" class="card-footer btn btn-primary btn-lg m-0">
                                <span class="font-weight-bold">My Orders</span>
                                <span class="icon">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </span>
                            </a>
                            {% else %}
                            <a href="{% url 'account_login' %}" id="submit-button-stripe"
                                class="card-footer btn btn-primary btn-lg m-0">
                                <span class="font-weight-bold">Login</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
{% endblock content %}