{% extends "user-dashboard/base.html" %}

{% load i18n %}

{% block content %}
<main class="pb-5 mb-5">
    <div class="container pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h4 class="text-center font-weight-light my-2">My Role</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-text text-justify">
                            <p class="my-0">Discover the power of Plexosoft Marketplace in this dedicated section. Learn
                                about your
                                role
                                and scope to maximize your potential within the platform. Start now and make the most of
                                what Plexosoft Marketplace has to offer!</p>
                        </div>

                    </div>
                    <div class="card-body pt-0">
                        <ul class="list-group text-center rounded">
                            <li class="list-group-item text-center text-white card-header" aria-current="true">
                                {% if buyer_dashboard.role == 0 %}
                                <strong>{{ buyer_dashboard.get_role_display }}</strong>
                                {% endif %}
                            </li>
                            {% if buyer_dashboard.role == 0 %}
                            <li class="list-group-item">You can purchase products</li>
                            <li class="list-group-item">You can purchase services</li>
                            <li class="list-group-item">You can like & comment (after purchasing)</li>
                            <li class="list-group-item">You can receive discounts and offers</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}