{% extends "base.html" %}
{% load static %}
{% block title %}- Homepage{% endblock %}
{% block content %}
<div class="container px-4 px-lg-0">

    <!-- Call to Action-->
    <aside class="card text-white quote my-4 py-2 text-center bg-main">
        <div class="card-body">
            <p class="text-white m-0">Dive into the sea of universal <strong>software solutions</strong>:<br> For You,
                Your
                Business, and Your Next Project Idea. <br>
                Get {{ normal_discount }}% to {{ grand_discount }}% discount today!</p>
        </div>
    </aside>

    <aside class="row gx-4 gx-lg-5 align-items-center my-4 cta-card">
        <div class="col-lg-6">
            <iframe class="rounded" width="100%" height="315"
                src="https://www.youtube.com/embed/rfscVS0vtbw?si=Y0e1xHEOp3z_4Tfi" title="Python educational video"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
        </div>
        <div class="col-lg-5 mt-3">
            <h1 class="font-weight-light text-center">Looking for Custom Software Development?</h1>
            <p class="text-center">Developing websites with <strong>Python</strong> in the best <strong>software
                    marketplace</strong> for Individuals, Businesses, and
                Developers. <br> Download yours now!</p>
            <a class="btn btn-primary" href="https://github.com/plexoio/py" target="_blank"
                aria-label="Plexosoft GitHub Page">Know
                More</a>
        </div>
    </aside>

    <!-- Sorting Element -->
    <aside class="row">
        <div class="col-12 d-flex justify-content-center align-items-center mt-3">
            <div class="sort-select-wrapper">
                <select id="sort-selector" class="custom-select custom-select-sm rounded border-primary p-2 fs-6 text">
                    <option value="reset">
                        Sort all items by...
                    </option>

                    <option {% if sortkey == 'price' and direction == 'asc' %} selected {% endif %}
                        value="{% url 'sorted' %}_price_asc">
                        Price (low to high)
                    </option>

                    <option {% if sortkey == 'price' and direction == 'desc' %} selected {% endif %}
                        value="{% url 'sorted' %}_price_desc">
                        Price (high to low)
                    </option>

                    <option {% if sortkey == 'likescount' and direction == 'asc' %} selected {% endif %}
                        value="{% url 'sorted' %}_likescount_asc">
                        Rating (low to high)
                    </option>

                    <option {% if sortkey == 'likescount' and direction == 'desc' %} selected {% endif %}
                        value="{% url 'sorted' %}_likescount_desc">
                        Rating (high to low)
                    </option>

                    <option {% if sortkey == 'transactionscount' and direction == 'asc' %} selected {% endif %}
                        value="{% url 'sorted' %}_transactionscount_asc">
                        Purchase (low to high)
                    </option>

                    <option {% if sortkey == 'transactionscount' and direction == 'desc' %} selected {% endif %}
                        value="{% url 'sorted' %}_transactionscount_desc">
                        Purchase (high to low)
                    </option>

                    <option {% if sortkey == 'title' and direction == 'asc' %} selected {% endif %}
                        value="{% url 'sorted' %}_title_asc">
                        Title (A-Z)
                    </option>

                    <option {% if sortkey == 'title' and direction == 'desc' %} selected {% endif %}
                        value="{% url 'sorted' %}_title_desc">
                        Title (Z-A)
                    </option>

                    <option {% if sortkey == 'category' and direction == 'desc' %} selected {% endif %}
                        value="{% url 'sorted' %}_category_desc">
                        Category
                        (A-Z)
                    </option>

                    <option {% if sortkey == 'category' and direction == 'asc' %} selected {% endif %}
                        value="{% url 'sorted' %}_category_asc">
                        Category (Z-A)
                    </option>
                </select>
            </div>
        </div>
    </aside>



    <!-- PRODUCT & SERVICE Row-->
    <article class="row gx-4 gx-lg-5 mt-4">
        <h1 class="fairplay-font text-center mb-5">Product & Service</h1>

        <!-- Records not found -->
        {% if not combined_items %}
        <p class="text-center">No records found so far </p>
    </article>
    {% endif %}

    <!-- Records found -->
    {% for item in combined_items %}
    <div class="col-lg-4 col-md-12 mb-5 col-sm-12">
        <div class="card h-100">
            <!-- Card Header -->
            <header>
                {% if item.type %}
                <h2 class="card-header text-center">{{ item.get_type_display}}</h2>
                {% elif item.instance %}
                <h2 class="card-header text-center">{{ item.get_instance_display}}</h2>
                {% endif %}
            </header>

            <!-- Card Thumbnail -->
            <a href="{% if item.instance == 0 %}{% url 'single_product' item.slug %}{% else %}{% url 'single_service' item.slug %}{% endif %}"
                class="row bg-thumbnail d-block">
                <div class="col-12 bg-thumbnail-image" style="background-image: url('{{ item.image_url }}')">
                    <div class="d-flex justify-content-between">
                        <span class="thumbnail-tags-left">{{ item.get_instance_display }}</span>
                        <span class="thumbnail-tags-right">{{ item.price }} $</span>
                    </div>
                </div>
            </a>

            <!-- Card Body -->
            <section class="card-body pt-1 px-2 pb-1">
                <div class="row">
                    <div class="col-12 d-inline-block">
                        <div class="p-1">

                            <!-- Title -->
                            <div>
                                <a class="pb-0 mb-0"
                                    href="{% if item.instance == 0 %}{% url 'single_product' item.slug %}{% else %}{% url 'single_service' item.slug %}{% endif %}">
                                    <h3>{{ item.title }}</h3>
                                </a>
                            </div>

                            <!-- Author -->
                            <small>by {{ item.author }}</small>

                            <!-- Category -->
                            {% if item.category %}
                            <div class="small mt-1 mb-0">
                                <a class="text-muted"
                                    href="{% url 'combined_items_all' %}/?q={{item.category.alt_name}}">
                                    <i class="fas fa-tag mr-1"></i> {{ item.category }}
                                </a>
                            </div>
                            {% endif %}

                            <!-- Code Languages & Services -->
                            <div class="my-0 fs-6">
                                {% if item.instance == 0%}
                                {% for code in item.code.all %}
                                <span class="item-tags d-inline-block m-0 mt-2">
                                    {{ code }}
                                </span>
                                {% endfor %}

                                {% else %}
                                {% for service in item.service.all %}
                                <span class="item-tags d-inline-block m-0 mt-2">
                                    {{ service }}
                                </span>
                                {% endfor %}
                                {% endif %}
                            </div>

                            <!-- Short description -->
                            {% if item.instance == 0 %}
                            <p class="my-0 fs-6 text-justify mt-2"> {{ item.excerpt|safe }}...
                                <a class="read-more" href="{% url 'single_product' item.slug %}">
                                    Read More
                                </a>
                            </p>
                            {% elif item.instance == 1 %}
                            <p class="my-0 fs-6 text-justify mt-2"> {{ item.excerpt|safe }}...
                                <a class="read-more" href="{% url 'single_service' item.slug %}">
                                    Read More
                                </a>
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>

            <!-- Likes and Purchases -->
            <div class="row mb-1">
                <div class="col-12">
                    <div class="d-flex justify-content-between">
                        <span class="likes-tags-left"><i class="fa-regular fa-heart"></i>
                            {{ item.likescount }}</span>
                        <span class="purchases-tags-right"><i class="fa-solid fa-cart-shopping"></i>
                            {% for title, count in order_count_combined.items %}
                            {% if item.title == title %}
                            {{ count }}
                            {% endif %}
                            {% endfor %}
                        </span>
                    </div>
                </div>
            </div>

            <footer>
                <!-- Card Footer -->
                {% if item.instance == 0 %}
                <a class="card-footer text-center fs-5 btn w-100" href="{% url 'single_product' item.slug %}">
                    BUY NOW
                </a>
                {% else %}
                <a class="card-footer text-center fs-5 btn w-100" href="{% url 'single_service' item.slug %}">
                    HIRE NOW
                </a>
                {% endif%}
            </footer>
        </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}
    <div class="col-12 text-center">
        <a href="{% url 'combined_items_all' %}" class="btn btn-primary w-auto see-more fs-5">See more</a>
    </div>
    </article>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>

    <!-- PRODUCT Row-->
    <article class="row gx-4 gx-lg-5 mt-5">
        <h1 class="fairplay-font text-center mb-5">Product</h1>

        <!-- Records not found -->
        {% if not product_single %}
        <p class="text-center">No records found so far </p>
        {% endif %}

        <!-- Records found -->
        {% for product in product_single %}
        <div class="col-lg-4 col-md-12 mb-5 col-sm-12">
            <div class="card h-100">
                <header>
                    <!-- Card Header -->
                    {% if product.type %}
                    <h2 class="card-header text-center">{{ product.get_type_display}}</h2>
                    {% elif product.instance %}
                    <h2 class="card-header text-center">{{ product.get_instance_display}}</h2>
                    {% endif %}
                </header>

                <!-- Card Thumbnail -->
                <a href="{% url 'single_product' product.slug %}" class="row bg-thumbnail d-block">
                    <div class="col-12 bg-thumbnail-image" style="background-image: url('{{ product.image_url }}')">
                        <div class="d-flex justify-content-between">
                            <span class="thumbnail-tags-left">{{ product.get_instance_display }}</span>
                            <span class="thumbnail-tags-right">{{ product.price }} $</span>
                        </div>
                    </div>
                </a>

                <!-- Card Body -->
                <section class="card-body pt-1 px-2 pb-1">
                    <div class="row">
                        <div class="col-12 d-inline-block">
                            <div class="p-1">

                                <!-- Title -->
                                <div>
                                    <a href="{% url 'single_product' product.slug %}" class="pb-0 mb-0">
                                        <h3>{{ product.title }}</h3>
                                    </a>
                                </div>

                                <!-- Author -->
                                <small>by {{ product.author }}</small>

                                <!-- Category -->
                                {% if product.category %}
                                <p class="small mt-1 mb-0">
                                    <a class="text-muted"
                                        href="{% url 'combined_items_all' %}/?q={{product.category.alt_name}}">
                                        <i class="fas fa-tag mr-1"></i> {{ product.category }}
                                    </a>
                                </p>
                                {% endif %}
                                <!-- Code Languages & Services -->
                                <p class="my-0 fs-6">
                                    {% for codes in product.code.all %}
                                    <span class="item-tags d-inline-block m-0 mt-2">
                                        {{ codes }}
                                    </span>
                                    {% endfor %}
                                </p>

                                <!-- Short Description -->
                                <p class="my-0 fs-6 text-justify mt-2"> {{ product.excerpt|safe }}...
                                    <a class="read-more" href="{% url 'single_product' product.slug %}">
                                        Read More
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Likes and Purchases -->
                <div class="row mb-1">
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <span class="likes-tags-left"><i class="fa-regular fa-heart"></i>
                                {{ product.likescount }}</span>
                            <span class="purchases-tags-right"><i class="fa-solid fa-cart-shopping"></i>
                                {% for title, count in order_count_product.items %}
                                {% if product.title == title %}
                                {{ count }}
                                {% endif %}
                                {% endfor %}
                            </span>
                        </div>
                    </div>
                </div>

                <footer>
                    <!-- Card Footer -->
                    <a class="card-footer text-center fs-5 btn w-100" href="{% url 'single_product' product.slug %}">BUY
                        NOW</a>
                </footer>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 text-center">
            <a href="{% url 'product_all' %}" class="btn btn-primary w-auto see-more fs-5">See more</a>
        </div>
    </article>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>

    <!-- SERVICE Row-->
    <article class="row gx-4 gx-lg-5 mt-5">
        <h1 class="h1 fairplay-font text-center mb-5">Service</h1>

        <!-- Records not found -->
        {% if not service_single %}
        <p class="text-center">No records found so far </p>
        {% endif %}

        <!-- Records found -->
        {% for service in service_single %}
        <div class="col-lg-4 col-md-12 mb-5 col-sm-12">
            <div class="card h-100">
                <!-- Card Header -->
                {% if service.type %}
                <h2 class="card-header text-center">{{ service.get_type_display}}</h2>
                {% elif service.instance %}
                <h2 class="card-header text-center">{{ service.get_instance_display}}</h2>
                {% endif %}

                <!-- Card Thumbnail -->
                <a href="{% url 'single_service' service.slug %}" class="row bg-thumbnail d-block">
                    <div class="col-12 bg-thumbnail-image" style="background-image: url('{{ service.image_url }}')">
                        <div class="d-flex justify-content-between">
                            <span class="thumbnail-tags-left">{{ service.get_instance_display }}</span>
                            <span class="thumbnail-tags-right">{{ service.price }} $</span>
                        </div>
                    </div>
                </a>

                <!-- Card Body -->
                <section class="card-body pt-1 px-2 pb-1">
                    <div class="row">
                        <div class="col-12 d-inline-block">
                            <div class="p-1">

                                <!-- Title -->
                                <div>
                                    <a href="{% url 'single_service' service.slug %}" class="h5 pb-0 mb-0">
                                        <h3>{{ service.title }}</h3>
                                    </a>
                                </div>

                                <!-- Author -->
                                <small>by {{ service.author }}</small>

                                <!-- Category -->
                                {% if service.category %}
                                <p class="small mt-1 mb-0">
                                    <a class="text-muted"
                                        href="{% url 'combined_items_all' %}/?q={{service.category.alt_name}}">
                                        <i class="fas fa-tag mr-1"></i> {{ service.category }}
                                    </a>
                                </p>
                                {% endif %}

                                <!-- Code Languages & Services -->
                                <p class="my-0 fs-6">
                                    {% for services in service.service.all %}
                                    <span class="item-tags d-inline-block m-0 mt-2">
                                        {{ services }}
                                    </span>
                                    {% endfor %}
                                </p>

                                <!-- Short Description -->
                                <p class="my-0 fs-6 text-justify mt-2"> {{ service.excerpt|safe }}...
                                    <a class="read-more" href="{% url 'single_service' service.slug %}">
                                        Read More
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Likes and Purchases -->
                <div class="row mb-1">
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <span class="likes-tags-left"><i class="fa-regular fa-heart"></i>
                                {{ service.likescount }}</span>
                            <span class="purchases-tags-right"><i class="fa-solid fa-cart-shopping"></i>
                                {% for title, count in order_count_service.items %}
                                {% if service.title == title %}
                                {{ count }}
                                {% endif %}
                                {% endfor %}
                            </span>
                        </div>
                    </div>
                </div>

                <footer>
                    <!-- Card Footer -->
                    <a class="card-footer text-center fs-5 btn w-100"
                        href="{% url 'single_service' service.slug %}">HIRE
                        NOW</a>
                </footer>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 text-center">
            <a href="{% url 'service_all' %}" class="btn btn-primary w-auto see-more fs-5">See more</a>
        </div>
    </article>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock content %}