{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container px-4 px-lg-0">
    <!-- Call to Action-->
    <div class="card text-white quote my-4 py-2 text-center bg-main">
        <div class="card-body">
            <p class="text-white m-0">Dive into a Sea of Software Solutions: For You, Your Business, and Your Next Big
                Project!</p>
        </div>
    </div>
    <div class="row gx-4 gx-lg-5 align-items-center my-4 cta-card">
        <div class="col-lg-6"><iframe class="rounded" width="100%" height="315"
                src="https://www.youtube.com/embed/rfscVS0vtbw?si=Y0e1xHEOp3z_4Tfi" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
        <div class="col-lg-5 mt-3">
            <h1 class="font-weight-light text-center">Navigating the Software World?</h1>
            <p class="text-center">Find the Perfect Fit for Individuals, Businesses, and Developers Right Here!</p>
            <a class="btn btn-primary" href="https://github.com/plexoio/musa" target="_blank" rel="noopener noreferrer"
                aria-label="GitHub">Know More</a>
        </div>
    </div>

    <!-- PRODUCT & SERVICE Row-->
    <div class="row gx-4 gx-lg-5 mt-5">
        <p class="h1 fairplay-font text-center mb-5">Product & Service</p>

        <!-- Records not found -->
        {% if not combined_items %}
        <p class="text-center">No records found so far </p>
        {% endif %}

        <!-- Records found -->
        {% for item in combined_items %}
        <div class="col-lg-4 col-md-12 mb-5 col-sm-12">
            <div class="card h-100">
                <!-- Card Header -->
                {% if item.type %}
                <div class="card-header text-center h4">{{ item.get_type_display}}</div>
                {% else %}
                <div class="card-header text-center h4">UNKNOWN</div>
                {% endif %}
                <!-- Card Thumbnail -->
                <div class="row bg-thumbnail">
                    <div class="col-12 bg-thumbnail-image" style="background-image: url('{{ item.image_url }}')">
                        <div class="d-flex justify-content-between">
                            <span class="thumbnail-tags-left">{{ item.get_instance_display }}</span>
                            <span class="thumbnail-tags-right">{{ item.price }} $</span>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body pt-1 px-2 pb-1">
                    <div class="row">
                        <div class="col-12 d-inline-block">
                            <div class="p-1">
                                <p class="h5 pb-0 mb-0">{{ item.title }}</p>
                                <small>by {{ item.author }}</small>
                                <p class="my-0 fs-6">
                                    {% if item.instance == 0%}
                                    {% for code in item.code.all %}
                                    <span class="item-tags d-inline-block m-0 mt-2">
                                        {{ code }}
                                    </span>
                                    {% endfor %}

                                    {% else %}
                                    {% for service in item.service.all %}
                                    <span class="item-tags d-inline-block m-0 mt-2">
                                        {{ service }}
                                    </span>
                                    {% endfor %}
                                    {% endif %}
                                </p>
                                <p class="my-0 fs-6 text-justify mt-2 lh-sm"> {{ item.description|safe }}...
                                    <a class="read-more" href="">
                                        Read More
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Likes and Purchases -->
                <div class="row mb-1">
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <span class="likes-tags-left"><i class="fa-regular fa-heart"></i>
                                {{ item.get_likes_count }}</span>
                            <span class="purchases-tags-right"><i class="fa-solid fa-cart-shopping"></i>
                                {{ item.get_transactions_count }} </span>
                        </div>
                    </div>
                </div>
                <!-- Card Footer -->
                <a class="card-footer text-center fs-5 btn" href="">BUY NOW</a>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 text-center">
            <a href="{% url 'combined_items_all' %}" class="btn btn-primary w-auto see-more fs-5">See more</a>
        </div>
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>

    <!-- PRODUCT Row-->
    <div class="row gx-4 gx-lg-5 mt-5">
        <p class="h1 fairplay-font text-center mb-5">Product</p>

        <!-- Records not found -->
        {% if not product_single %}
        <p class="text-center">No records found so far </p>
        {% endif %}

        <!-- Records found -->
        {% for product in product_single %}
        <div class="col-lg-4 col-md-12 mb-5 col-sm-12">
            <div class="card h-100">
                <!-- Card Header -->
                {% if product.type %}
                <div class="card-header text-center h4">{{ product.get_type_display}}</div>
                {% else %}
                <div class="card-header text-center h4">UNKNOWN</div>
                {% endif %}
                <!-- Card Thumbnail -->
                <div class="row bg-thumbnail">
                    <div class="col-12 bg-thumbnail-image" style="background-image: url('{{ product.image_url }}')">
                        <div class="d-flex justify-content-between">
                            <span class="thumbnail-tags-left">{{ product.get_instance_display }}</span>
                            <span class="thumbnail-tags-right">{{ product.price }} $</span>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body pt-1 px-2 pb-1">
                    <div class="row">
                        <div class="col-12 d-inline-block">
                            <div class="p-1">
                                <p class="h5 pb-0 mb-0">{{ product.title }}</p>
                                <small>by {{ product.author }}</small>
                                <p class="my-0 fs-6">
                                    {% for codes in product.code.all %}
                                    <span class="item-tags d-inline-block m-0 mt-2">
                                        {{ codes }}
                                    </span>
                                    {% endfor %}
                                </p>
                                <p class="my-0 fs-6 text-justify mt-2 lh-sm"> {{ product.description|safe }}...
                                    <a class="read-more" href="">
                                        Read More
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Likes and Purchases -->
                <div class="row mb-1">
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <span class="likes-tags-left"><i class="fa-regular fa-heart"></i>
                                {{ product.get_likes_count }}</span>
                            <span class="purchases-tags-right"><i class="fa-solid fa-cart-shopping"></i>
                                {{ product.get_transactions_count }} </span>
                        </div>
                    </div>
                </div>
                <!-- Card Footer -->
                <a class="card-footer text-center fs-5 btn" href="">BUY NOW</a>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 text-center">
            <a href="{% url 'product_all' %}" class="btn btn-primary w-auto see-more fs-5">See more</a>
        </div>
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>

    <!-- SERVICE Row-->
    <div class="row gx-4 gx-lg-5 mt-5">
        <p class="h1 fairplay-font text-center mb-5">Service</p>

        <!-- Records not found -->
        {% if not service_single %}
        <p class="text-center">No records found so far </p>
        {% endif %}

        <!-- Records found -->
        {% for service in service_single %}
        <div class="col-lg-4 col-md-12 mb-5 col-sm-12">
            <div class="card h-100">
                <!-- Card Header -->
                {% if service.type %}
                <div class="card-header text-center h4">{{ service.get_type_display}}</div>
                {% else %}
                <div class="card-header text-center h4">UNKNOWN</div>
                {% endif %}
                <!-- Card Thumbnail -->
                <div class="row bg-thumbnail">
                    <div class="col-12 bg-thumbnail-image" style="background-image: url('{{ service.image_url }}')">
                        <div class="d-flex justify-content-between">
                            <span class="thumbnail-tags-left">{{ service.get_instance_display }}</span>
                            <span class="thumbnail-tags-right">{{ service.price }} $</span>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body pt-1 px-2 pb-1">
                    <div class="row">
                        <div class="col-12 d-inline-block">
                            <div class="p-1">
                                <p class="h5 pb-0 mb-0">{{ service.title }}</p>
                                <small>by {{ service.author }}</small>
                                <p class="my-0 fs-6">
                                    {% for services in service.service.all %}
                                    <span class="item-tags d-inline-block m-0 mt-2">
                                        {{ services }}
                                    </span>
                                    {% endfor %}
                                </p>
                                <p class="my-0 fs-6 text-justify mt-2 lh-sm"> {{ service.description|safe }}...
                                    <a class="read-more" href="">
                                        Read More
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Likes and Purchases -->
                <div class="row mb-1">
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <span class="likes-tags-left"><i class="fa-regular fa-heart"></i>
                                {{ service.get_likes_count }}</span>
                            <span class="purchases-tags-right"><i class="fa-solid fa-cart-shopping"></i>
                                {{ service.get_transactions_count }} </span>
                        </div>
                    </div>
                </div>
                <!-- Card Footer -->
                <a class="card-footer text-center fs-5 btn" href="">BUY NOW</a>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 text-center">
            <a href="{% url 'service_all' %}" class="btn btn-primary w-auto see-more fs-5">See more</a>
        </div>
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}