{% extends "base.html" %}

{% block title %}
- Privacy Policy - Plexosoft Software Marketplace
{% endblock %}

{% block content %}
<!-- Page Content-->
<div class="container my-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header card-header-blue text-center h4">
                    Plexosoft's Privacy Policy
                </div>
                <div class="card-body px-5 py-3">
                    <div class="card-text">
                        <p><strong>Last updated: [Date]</strong></p>

                        <p>Welcome to Plexosoft, your trusted software marketplace. This Privacy Policy outlines how we
                            collect, use, disclose, and safeguard your information.</p>

                        <h2>1. Personal Data</h2>
                        <p>We collect data such as name, email address, and payment information to facilitate your use
                            of our services like software licensing and second-hand software.</p>

                        <h2>2. Use of Data</h2>
                        <p>We use your data to process transactions, provide customer support, and improve our services.
                        </p>

                        <h2>3. Third Parties</h2>
                        <p>We do not sell or share your data with third parties except to facilitate your use of the
                            service, as outlined in this policy.</p>

                        <h2>4. Security</h2>
                        <p>We take reasonable measures to protect your data from unauthorized access, use, or
                            disclosure.</p>

                        <h2>5. Contact Us</h2>
                        <p>If you have any questions about this Privacy Policy, please contact us at [Your Contact
                            Information].</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}