{% extends "base.html" %}

{% block title %}
- Terms of Service - Plexosoft Software Marketplace
{% endblock %}

{% block content %}
<!-- Page Content-->
<div class="container my-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header card-header-blue text-center h4">
                    Plexosoft's Terms of Service
                </div>
                <div class="card-body px-5 py-3">
                    <div class="card-text">
                        <p>Welcome to Plexosoft, your trusted software marketplace. By using our platform, you agree to
                            the following terms and conditions.</p>

                        <h2>1. User Agreement</h2>
                        <p>By accessing our service, you agree to comply with these Terms of Service and any applicable
                            laws and regulations.</p>

                        <h2>2. Account Terms</h2>
                        <p>You are responsible for maintaining the security of your account and password.</p>

                        <h2>3. Payment Terms</h2>
                        <p>Payments are made upfront via our secure payment portal. We accept all major credit cards and
                            other secure payment options like Stripe.</p>

                        <h2>4. Refund Policy</h2>
                        <p>We offer a 30-day money-back guarantee on all software products.</p>

                        <h2>5. Termination</h2>
                        <p>We reserve the right to terminate or suspend your account at our sole discretion.</p>

                        <h2>6. Contact Us</h2>
                        <p>If you have any questions about these Terms of Service, please contact us at [Your Contact
                            Information].</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}