{% extends "admin-dashboard/base.html" %}
{% load i18n %}

{% block content %}
<!-- Dashboard -->
<main class="pb-5 mb-5">
    <div class="container-fluid p-4 pt-0 pb-5">
        <!-- Main Content -->
        <h1 class="mt-4">Admin Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Welcome to your Admin Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-white-border text-white mb-4">
                    <div class="card-body">Placeholder</div>
                    <div class="d-flex align-items-center justify-content-between">
                        <a class="stretched-link" href=""></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-white-border text-white mb-4">
                    <div class="card-body">Placeholder</div>
                    <div class="d-flex align-items-center justify-content-between">
                        <a class="stretched-link" href=""></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-white-border text-white mb-4">
                    <div class="card-body">Placeholder</div>
                    <div class="d-flex align-items-center justify-content-between">
                        <a class="stretched-link" href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-white-border text-white mb-4">
                    <div class="card-body">Placeholder</div>
                    <div class="d-flex align-items-center justify-content-between">
                        <a class="stretched-link" href=""></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product Table -->
        <div class="card mb-4">
            <div class="card-header text-center">
                <i class="fas fa-table me-1"></i>
                Product & Service Overview
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Category</th>
                            <th>Status</th>
                            <th>Type</th>
                            <th>Price</th>
                            <th>Created On</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Category</th>
                            <th>Status</th>
                            <th>Type</th>
                            <th>Price</th>
                            <th>Created On</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for product in admin_dashboard.product_authors.all %}
                        <tr>
                            <td>{{ product.title }}</td>
                            <td>{{ product.author }}</td>
                            <td>{{ product.category.category_name }}</td>
                            <td>{{ product.get_status_display }}</td>
                            <td>{{ product.get_type_display }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.created_on }}</td>
                        </tr>
                        {% endfor %}
                        {% for service in admin_dashboard.service_authors.all %}
                        <tr>
                            <td>{{ service.title }}</td>
                            <td>{{ service.author }}</td>
                            <td>{{ service.category.category_name }}</td>
                            <td>{{ service.get_status_display }}</td>
                            <td>{{ service.get_type_display }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.created_on }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock content %}