{% extends "admin-dashboard/base.html" %}
{% load i18n %}

{% block content%}
<main class="pb-5 mb-5">
    <div class="container-fluid px-4 pb-5">
        <div class="my-3">
            <a class="my-0" href="{% url 'admin_all_products' %}">Return</a>
        </div>
        <hr>
        <h1 class="mt-4">Product Update</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">You can update fully this product instance</li>
        </ol>

        <!-- Role Alert -->
        {% if request.user.role == 0 %}
        <div class="alert alert-warning text-center" role="alert">
            In order to update a product instance you need to be an admin.
        </div>
        {% elif request.user.role == 1%}

        <!-- Form Container -->
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-xl-6 col-md-12 d-inline-block">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if product.non_field_errors %}
                    <div class="errors">{{ product.non_field_errors }}</div>
                    {% endif %}
                    <div class="card">
                        <div class="card-header">
                            <h4 class="text-center font-weight-light my-2">{% trans "Update Form" %}</h4>
                        </div>
                        <div class="card-body">
                            <!-- Author -->
                            <div class="mb-3">
                                <label class="form-label"><strong>Author ID</strong></label>
                                <input type="text" class="form-control bg-light bg-gradient"
                                    value="{{ request.user.username }}" readonly>
                                <input type="hidden" name="{{ product.author.name }}"
                                    class="form-control bg-light bg-gradient" value="{{ product.author.value }}"
                                    id="{{ product.author.id_for_label }}" readonly>
                                {% if product.author.errors %}
                                <div class="errors">{{ product.author.errors }}</div>
                                {% endif %}
                            </div>

                            <!-- Title -->
                            <div class="mb-3">
                                <label for="title" class="form-label"><strong>Title</strong></label>
                                <input type="text" name="title" class="form-control" id="title" maxlength="64"
                                    value="{{ product.title }}" required>
                                {% if product.title.errors %}
                                <div class="errors">{{ product.title.errors }}</div>
                                {% endif %}
                            </div>

                            <!-- SKU Number -->
                            <div class="mb-3">
                                <label for="sku" class="form-label"><strong>SKU</strong></label>
                                <input type="text" name="sku" class="form-control" id="sku" value="{{ product.sku }}"
                                    required>
                                {% if product.sku.errors %}
                                <div class="errors">{{ product.sku.errors }}</div>
                                {% endif %}
                            </div>

                            <!-- Price -->
                            <div class="mb-3">
                                <label for="price" class="form-label"><strong>Price</strong></label>
                                <input type="number" name="price" class="form-control" id="price"
                                    value="{{ product.price }}" step="0.01" min="0" required>
                                {% if product.price.errors %}
                                <div class="errors">{{ product.price.errors }}</div>
                                {% endif %}
                            </div>

                            <!-- Category -->
                            <div class="mb-3">
                                <label for="category" class="form-label"><strong>Category</strong></label>
                                <select name="category" class="form-select" id="category" required>
                                    <option value="{{ product.category.id }}" selected>{{ product.category }}</option>
                                    {% for category in categories %}
                                    {% if category.id != product.category.id %}
                                    <option value="{{ category.id }}">{{ category }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                {% if product.category.errors %}
                                <div class="errors">{{ product.category.errors }}</div>
                                {% endif %}
                            </div>

                            <!-- Status -->
                            <div class="mb-3">
                                <label for="status" class="form-label"><strong>Status</strong></label>
                                <select id="status" name="status" class="form-select">
                                    <option value="{{ product.status }}" selected> {{ product.get_status_display }}
                                    </option>
                                    {% for status_int, status_str in status %}
                                    {% if status_int != product.status %}
                                    <option value="{{ status_int }}">{{ status_str }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                {% if product.status.errors %}
                                <div class="errors">{{ product.status.errors }}</div>
                                {% endif %}
                            </div>

                            <!-- Scope Type -->
                            <div class="mb-3">
                                <label for="type" class="form-label"><strong>Scope</strong></label>
                                <select id="type" name="type" class="form-select">
                                    <option value="{{ product.type }}" selected> {{ product.get_type_display }}</option>
                                    {% for scope_int, scope_str in scope %}
                                    {% if scope_int != product.type %}
                                    <option value="{{ scope_int }}">{{ scope_str }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                {% if product.scope.errors %}
                                <div class="errors">{{ product.scope.errors }}</div>
                                {% endif %}
                            </div>

                            <!-- Code Type -->
                            <div class="mb-3">
                                <label for="code" class="form-label"><strong>Code Type
                                    </strong></label>
                                <select name="code" class="form-control" id="code" multiple="multiple" required>
                                    {% for code_list in codes %}
                                    <option value="{{ code_list.id }}"
                                        {% for c_offer in offer_code %}{% if c_offer == code_list %} selected
                                        {% endif %}{% endfor %}>{{ code_list }}</option>
                                    {% endfor %}
                                </select>
                                {% if code.code.errors %}
                                <div class="errors">{{ code.code.errors }}</div>
                                {% endif %}
                            </div>


                            <!-- Service Type -->
                            <div class="mb-3">
                                <label for="service" class="form-label"><strong>Service Type</strong></label>
                                <select name="service" class="form-control" id="service" multiple="multiple" required>
                                    {% for service_list in services %}
                                    <option value="{{ service_list.id }}"
                                        {% for s_offer in offer_service %}{% if s_offer == service_list %} selected
                                        {% endif %}{% endfor %}>{{ service_list }}</option>
                                    {% endfor %}
                                </select>
                                {% if product.service.errors %}
                                <div class="errors">{{ product.service.errors }}</div>
                                {% endif %}
                            </div>

                            <!-- Preview Link -->
                            <div class="mb-3">
                                <label for="preview" class="form-label"><strong>Preview Link</strong></label>
                                <input type="link" name="preview" class="form-control" id="preview"
                                    value="{{ product.preview }}" required>
                                {% if product.preview.errors %}
                                <div class="errors">{{ product.preview.errors }}</div>
                                {% endif %}
                            </div>

                            <!-- Docs Link -->
                            <div class="mb-3">
                                <label for="docs" class="form-label"><strong>Docs Link</strong></label>
                                <input type="link" name="docs" class="form-control" id="docs" value="{{ product.docs }}"
                                    required>
                                {% if product.docs.errors %}
                                <div class="errors">{{ product.docs.errors }}</div>
                                {% endif %}
                            </div>


                            <!-- Description -->
                            <div class="mb-3">
                                <label for="description" class="form-label"><strong>Description</strong><small>(528
                                        characters)</small></label>
                                <textarea name="description" class="form-control" id="description" maxlength="528"
                                    rows="4" required>{{ product.description }}</textarea>
                                {% if product.description.errors %}
                                <div class="errors">{{ product.description.errors }}</div>
                                {% endif %}
                            </div>

                            <!-- Excerpt -->
                            <div class="mb-3">
                                <label for="excerpt" class="form-label"><strong>Excerpt Text</strong></label>
                                <textarea name="excerpt" class="form-control" id="excerpt" maxlength="264" rows="4"
                                    required>{{ product.excerpt }}</textarea>
                                {% if product.excerpt.errors %}
                                <div class="errors">{{ product.excerpt.errors }}</div>
                                {% endif %}
                            </div>

                            <!-- Image -->
                            <div class="mb-3">
                                <label for="image" class="form-label"><strong>Image</strong></label>
                                {% if product.image %}
                                <div class="mb-2 text-center">
                                    <img src="{{ product.image.url }}" alt="Current Image" style="max-width: 200px;">
                                </div>
                                {% endif %}
                                <input type="file" name="image" id="image" class="form-control">
                                {% if product.image.errors %}
                                <div class="errors">{{ product.image.errors }}</div>
                                {% endif %}
                            </div>

                            <!-- Image URL -->
                            <div class="mb-3">
                                <label for="image_url" class="form-label"><strong>Image URL</strong></label>
                                <input type="link" name="image_url" class="form-control" id="image_url"
                                    value="{{ product.image_url }}" required>
                                {% if product.image_url.errors %}
                                <div class="errors">{{ product.image_url.errors }}</div>
                                {% endif %}
                            </div>

                            <div class="row my-4 text-center">
                                <div class="col-12 d-inline-block">
                                    <button type="submit" class="btn btn-success mx-1">Submit</button>
                                    <button id="mymodal" class="btn btn-danger mx-1" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal2">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</main>


<!-- Deleete Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content" method="post" action="{% url 'delete_product' product.slug %}">
            {% csrf_token %}
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this product instance?
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary">Delete</button>
                <button type="button" class="btn btn-success m-2" data-bs-dismiss="modal"
                    aria-label="Close">Cancel</button>
            </div>

        </form>
    </div>
</div>
{% endblock %}