{% extends "admin-dashboard/base.html" %}
{% load i18n %}

{% block content%}
<main class="pb-5 mb-5">
    <div class="container-fluid px-4 pb-5">
        <div class="my-3">
            <a class="my-0" href="{% url 'all_orders_admin' %}">Return</a>
        </div>
        <hr>
        <h1 class="mt-4">Order Update</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">You can update this order instance</li>
        </ol>

        <!-- Role Alert -->
        {% if request.user.role == 0 %}
        <div class="alert alert-warning text-center" role="alert">
            In order to update a order instance you need to be an admin.
        </div>
        {% elif request.user.role == 1%}

        <!-- Form Container -->
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-xl-6 col-md-12 d-inline-block">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if order.non_field_errors %}
                    <div class="errors">{{ order.non_field_errors }}</div>
                    {% endif %}
                    <div class="card">
                        <div class="card-header">
                            <h4 class="text-center font-weight-light my-2">{% trans "Update Form" %}</h4>
                        </div>
                        <div class="card-body">

                            <!-- Inlineitems -->
                            <div class="mb-3">
                                <label for="code" class="form-label"><strong>Items
                                    </strong></label>
                                <select name="code" class="form-control" id="code" multiple="multiple" disabled>
                                    {% for lineitem in order.lineitems.all %}
                                    {% if lineitem.service %}
                                    <option>{{ lineitem.service.title }} ({{ lineitem.service.get_instance_display }})</option>
                                    {% else %}
                                    <option>{{ lineitem.product.title }} ({{ lineitem.product.get_instance_display }})</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                {% if code.code.errors %}
                                <div class="errors">{{ code.code.errors }}</div>
                                {% endif %}
                            </div>

                            <!-- Order Number -->
                            <div class="mb-3">
                                <label for="sku" class="form-label"><strong>Order Number</strong></label>
                                <input type="text" name="order_number" class="form-control" id="sku"
                                    value="{{ order.order_number }}" required disabled>
                                {% if order.order_number.errors %}
                                <div class="errors">{{ order.order_number.errors }}</div>
                                {% endif %}
                            </div>
                            <!-- Status -->
                            <div class="mb-3">
                                <label for="status" class="form-label"><strong>Status</strong></label>
                                <select id="status" name="status" class="form-select">
                                    <option value="{{ order.status }}" selected> {{ order.get_status_display }}
                                    </option>
                                    {% for status_int, status_str in status %}
                                    {% if status_int != order.status %}
                                    <option value="{{ status_int }}">{{ status_str }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                {% if order.status.errors %}
                                <div class="errors">{{ order.status.errors }}</div>
                                {% endif %}
                            </div>

                            <div class="row my-4 text-center">
                                <div class="col-12 d-inline-block">
                                    <button type="submit" class="btn btn-success mx-1">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</main>

{% endblock %}